:root {
  --tuscany-blue: #4059ad;
  --shakespear-blue: #6b9ac4;
  --light-blue: #c0d6df;
  --stone-blue: #1a668c;
  --clear-day-white: #eff2f1;
  --flsw-orange: #e09f3e;
  --tangora-dark-blue: #13293d;
  --goose-down-beige: #f4e7de;
  --dallas-brown: #6b4f24;
  --sandy-clay-beige: #dbd0bf;
  --peach-shortcake-orange: #f9dcc4;
  --white: #fff;
}
