$tuscany-blue: #4059ad;
$shakespear-blue: #6b9ac4;
$regent-st-blue: #97d8c4;
$clear-day-white: #eff2f1;
$flsw-orange: #f4b942;
$tangora-dark-blue: #13293d;

:root {
  --tuscany-blue: #4059ad;
  --shakespear-blue: #6b9ac4;
  --regent-st-blue: #97d8c4;
  --clear-day-white: #eff2f1;
  --flsw-orange: #f4b942;
  --tangora-dark-blue: #13293d;
}
