@import "./colors";
@import "./fonts";
@import "./animations";

body {
  color: var(--tangora-dark-blue);
  font-size: 1.2rem;
  line-height: 1.4rem;

  @extend .josefin-sans-300;

  width: 100vw;
  overflow-x: hidden;

  #app {
    background-color: var(--light-blue);
  }

  .app {
    width: 100%;

    &::before {
      animation: grain 8s steps(10) infinite;
      background-image: url(/img/noise.png);
      content: "";
      height: 300%;
      left: -50%;
      opacity: 0.6;
      position: fixed;
      top: -100%;
      width: 300%;
      z-index: 16;
      pointer-events: none;
    }
  }
}
